table,
table td  {
  border: 1px solid #cccccc;
}
table th{
    
    border: 1px solid #cccccc;
}
th{
   
    
    vertical-align: middle;
}
td {
 
  
  vertical-align: middle;
}

.cate-img{
    width: 130px;
    height: 130px;
}




