table,
table td  {
  border: 1px solid #cccccc;
}
table th{
    
    border: 1px solid #cccccc;
}
th{
   
    text-align: center;
    vertical-align: middle;
}
td {
 
  text-align: center;
  vertical-align: middle;
}

.cate-img{
    width: 100px;
}


